@import '@/scss/foundations/reset';
@import '@/scss/foundations/variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

main{
    background: $c-black linear-gradient(transparent, rgba($c-main, 20%));
    font-family: $font, monospace;
    color: $c-white;
}

h1{
    @include h1
}

h2{
    @include h2
}

p{
    @include p    
}

ul {
    @include p;
    list-style: none;
    padding: 0;
}

li::before {
    content: "_";
}

.global-titre_texte{
    @include titre_texte
}