@import '@/scss/foundations/reset';
@import '@/scss/foundations/variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

main{
    font-family: $font, monospace;
    color: $c-white;
}

h1{
    @include h1
}

h2{
    @include h2
}

h3{
    @include h3
}

p{
    @include p    
}

ul {
    @include p;
    list-style: none;
    padding: 0;

    > *{
        margin: 0.5rem 0;

        &::before {
            content: "__";
            font-weight: $fw-bold;
        }
    }

    &:first-child{
        margin-top: 0;
    }

    &:last-child{
        margin-bottom: 0;
    }
}



label{
    font-family: $font, monospace;
    font-size: $ph-f-md;
    color: $c-main;
    text-transform: uppercase;
    
    @include medium{
        font-size: $pc-f-md;
    }
}

input{
    width: 50vw;
    margin: 0;
    padding: $ph-m-sm;
    border: 2px solid $c-main;
    background: rgba($c-white, 5%);
    font-family: $font, monospace;
    color: $c-white;
    font-size: $ph-f-sm;
    caret-color: $c-main;

    &:focus{
        background: none;
        outline: 2px solid $c-main;
    }

    @include medium{
        padding: $pc-m-sm;
        font-size: $pc-f-sm;
    }
}

.global-error{
    font-weight: $fw-bold;
    color: $c-red;
}

.global-titre_texte{
    @include titre_texte
}

.global-aside__boutons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $ph-m-md;

    @include medium{
        gap: $pc-m-md;
    }
}

.global-aside__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $ph-m-sm;

    @include medium{
        gap: $pc-m-sm;
    }
}

*::selection{
    color: $c-black;
    background-color: $c-main
}

.global_color-2{
    background: darken($c-red, 40%) radial-gradient(rgba($c-red, 10%) 5%, transparent) !important;

    h1, h2, p{
        color: $c-red;
    }
}

.global_color-3{
    background: darken($c-blue, 55%) radial-gradient(rgba($c-blue, 10%) 5%, transparent) !important;

    h1, h2, p{
        color: $c-blue;
    }
}

.global_color-4{
    background: darken($c-pink, 45%) radial-gradient(rgba($c-pink, 10%) 5%, transparent) !important;

    h1, h2, p{
        color: $c-pink;
    }
}

.global_color-5{
    background: darken($c-orange, 40%) radial-gradient(rgba($c-orange, 5%) 5%, transparent) !important;

    h1, h2, p{
        color: $c-orange;
    }
}

.global_color-6{
    background: $c-bblack radial-gradient(lighten($c-bblack, 10%) 5%, transparent) !important;

    h1, h2, p{
        color: $c-white;
    }
}
